<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title th:text="${cabang.nama}"></title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <style>
        .title{
            width: 30%;
        }
        .btn {
            margin-top: 30px;
        }
    </style>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('none')"></nav>
<div class="container" style="margin: 5vh auto;">
    <div class="card">
        <div style="padding:20px; background-color:white">
            <h2 class="text-center">Detail Cabang</h2>
            <hr>
        </div>
        <p style="color: red" th:text="${message}"></p>
        <div class="card-body">
            <a class="text-dark " href="/cabang/viewall"><u>← Back</u></a>
            <br><br>
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <td class="title">
                        <b>Nama Cabang</b>
                    </td>
                    <td>
                        <p th:text="': ' + ${cabang.nama}"></p>
                    </td>
                </tr>
                <tr>
                    <td class="title">
                        <b>Alamat</b>
                    </td>
                    <td>
                        <p th:text="': ' + ${cabang.alamat}"></p>
                    </td>
                </tr>
                <tr>
                    <td class="title">
                        <b>Ukuran Cabang</b>
                    </td>
                    <td>
                        <p th:text="': ' + ${cabang.ukuran}">m<sup>2</sup></p>
                    </td>
                </tr>
                <tr>
                    <td class="title">
                        <b>Status</b>
                    </td>
                    <td>
                        <p th:if="${cabang.status} == 0">: Menunggu Persetujuan</p>
                        <p th:if="${cabang.status} == 1">: Ditolak</p>
                        <p th:if="${cabang.status} == 2">: Disetujui</p>
                    </td>
                </tr>
                <tr>
                    <td class="title">
                        <b>Nomor Telepon</b>
                    </td>
                    <td>
                        <p th:text="': ' + ${cabang.no_telp}"></p>
                    </td>
                </tr>
                <tr>
                    <td class="title">
                        <b>Penanggung Jawab </b>
                    </td>
                    <td>
                        <p th:text="': ' + ${penanggungJawab}"></p>
                    </td>
                </tr>
                </tbody>
            </table>
            <b class="title">Item Cabang</b>
            <div sec:authorize="!hasAuthority('Staff Cabang')">
                <div style="text-align: right">
                    <a style="text-align: right" class="btn btn-primary" th:href="${cabang.id} + @{/add/item}"> + Tambah Item</a>
                </div>
            </div>
            <div>
                <div th:unless="*{cabang.listItemCabang.size() !=0}">
                    <p th:text="'(Belum ada item Cabang)'"></p>
                </div>

                <div th:if="*{cabang.listItemCabang.size() !=0}">
                    <table class="table">
                        <thead>
                        <tr th:style="'text-align:center;'" class="bg-info text-white">
                            <th>Nama</th>
                            <th>Harga</th>
                            <th>Stok</th>
                            <th>Kategori</th>
                            <th>Promo</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item,iterationStatus : ${cabang.listItemCabang}" th:style="${iterationStatus.odd} ? 'background:#E0E0E0;'" class="text-center">
                            <td th:text="${item.nama}"></td>
                            <td th:text="${item.harga}"></td>
                            <td th:text="${item.stok}"></td>
                            <td th:text="${item.id_promo}"></td>
                            <td>
                                <a th:if="${user.role.id} != 3  AND ${item.id_promo} == 0" style="margin-top: 0px;" class="btn btn-warning" th:href="@{/cabang/list-coupon/} + ${item.id} + '?idCabang=' + ${cabang.id}">🎫 Terapkan Promo </a>
                            </td>
                            <td>
                                <a style="margin-top: 0px;" class="btn btn-outline-primary" th:href="@{/cabang/tambahstok/} + ${cabang.id} +@{/} + ${item.id}">📦 Tambah Stok</a>
                                <a style="margin-top: 0px;" class="btn btn-outline-danger" th:href="@{/cabang/item/delete/} + ${item.id}">🗑️ Hapus item</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: right; margin-bottom: 100px;">
        <a style="text-align: right" class="btn btn-outline-danger" th:href="@{/cabang/delete/} + ${cabang.id}">🗑️ Hapus Cabang</a>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>

</html>