<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Cabang Ditolak</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar(laman)"></nav>
<div class="container" style="margin: 18vh auto">
    <h2 th:style=
                "'text-align:center;
            padding-bottom:20px;'"
    >Daftar Cabang ditolak</h2>
    <br>
    
    <div th:if="*{listCabang.size() != 0}">
        <table class="table">
            <thead>
            <tr th:style="'text-align:center;'" class="bg-info">
                <th>No</th>
                <th>Id</th>
                <th>Nama</th>
                <th>No Telepon</th>
                <th>Ukuran (m<sup>2</sup>)</th>
                <th>Jumlah Item</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cabang, iterationStatus : ${listCabang}"
                th:style="${iterationStatus.odd} ? 'background:#E0E0E0;'" class="text-center">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${cabang.id}"></td>
                <td th:text="${cabang.nama}"></td>
                <td th:text="${cabang.no_telp}"></td>
                <td th:text="${cabang.ukuran}"></td>
                <td th:text="${listJmlItem[__${iterationStatus.index}__]}"></td>
                <td>Ditolak</td>
                <td class="d-inline-flex">
                    <a class="btn btn-sm btn-outline-primary" th:href="@{/cabang/} + ${cabang.id}">Detail</a>
                </td>
            </tr>
            </tbody>
        </table>
        </form>
    </div>
    <div th:unless="*{listCabang.size() != 0}">
        <h2 style="text-align: center; padding:10px; background-color:rgb(224, 224, 224);">Tidak ada permintaan cabang</h2>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>

</body>

</html>