<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>All Cabang</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar(laman)"></nav>
<div class="container" th:style="'margin-top:70px;'">
    <h2 th:style=
                "'text-align:center;
            padding-bottom:20px;'"
    >Daftar Cabang</h2>
    <br>
    <div th:if="${idRole != 3}">
        <a th:href="@{/cabang/add}" th:style=
                "'font-weight:bold;
                margin-bottom:20px;'"
        class="mx-2 btn btn-warning">+Tambah cabang</a>
    </div>
    <div th:if="*{listCabang.size() != 0}">
        <table class="table">
            <thead>
            <tr th:style="'text-align:center;'" class="bg-warning">
                <th>No</th>
                <th>Id</th>
                <th>Nama</th>
                <th>No Telepon</th>
                <th>Ukuran (m<sup>2</sup>)</th>
                <th>Jumlah Item</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cabang, iterationStatus : ${listCabang}"
                th:style="${iterationStatus.odd} ? 'background:#E0E0E0;'" class="text-center">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${cabang.id}"></td>
                <td th:text="${cabang.nama}"></td>
                <td th:text="${cabang.no_telp}"></td>
                <td th:text="${cabang.ukuran}"></td>
                <td th:text="${listJmlItem[__${iterationStatus.index}__]}"></td>
                <td th:if="${cabang.status} == 0">Menunggu Persetujuan</td>
                <td th:if="${cabang.status} == 1">Ditolak</td>
                <td th:if="${cabang.status} == 2">Disetujui</td>
                <td class="d-inline-flex">
                    <a class="btn btn-sm btn-outline-primary" th:href="@{/cabang/viewall}">Detail</a>
                    <div th:if="${idRole != 3}">
                    <a class="btn btn-sm btn-primary ml-2 mr-2" th:href="@{/cabang/update/} + ${cabang.id}">Update</a>
                    <a class="btn btn-sm btn-danger" th:href="@{/cabang/delete/} + ${cabang.id}">Delete</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        </form>
    </div>
    <div th:unless="*{listCabang.size() != 0}">
        <h2 th:text="'Tidak ada cabang'"></h2>
    </div>


</div>
</body>

</html>